body {
  background-color: white;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 21px;
}

.text-center {
  text-align: center;
}

#title {
  color: #457b9d;
  padding: 10px;
  text-transform: uppercase;
}


.header {
  font-family: "Montserrat", sans-serif;
  color: #e63946;
  font-weight: 600;
  text-transform: uppercase;
}

h1 {
  font-size: 26px;
  margin: 35px;
}

#introduction {
  margin-bottom: 20px;
}

h2, h3 {
  font-size: 20px;
  margin-bottom: 15px;
}

p, li {
  color: #1d3557;
}

a {
  color: #457b9d;
  text-decoration: none;
  padding: 10px;
}

a:hover {
  color: #e63946;
  background-color: transparent;
}

.img-circle {
  border-radius: 50%;
  width: 150px;
}

#profile-pic {
  border: solid 8px #e63946;
  width: 135px;
}

#profile-button {
  color: white;
  text-decoration: none;
  padding: 10px;
  background-color: #457b9d;
  border-radius: 10px;
  display: inline-block;
  margin-top: 20px;
}

#profile-button:hover {
  background-color: #e63946;
}

.container {
  background-color: white;
  width: 700px;
  margin: 0 auto;
}

.card {
  background-color: white;
  margin: 20px auto;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.hobbies-list, .skills-list, .projects-list, .network-list {
  list-style: none;
  padding: 0;
  text-align: center;
}

.hobbies-list li, .skills-list li {
  display: inline-block;
  margin: 0 10px;
  position: relative;
}

.hobbies-list li:before {
  content: "•";
  position: absolute;
  left: -13px;
  color: #e63946;
}

.skills-list li i {
  font-size: 24px;
  margin-right: 8px;
}

.skills-list {
  line-height: 41px;
}

.projects-list li {
  margin: 10px 0;
}

.network-list {
  font-size: 60px;
  text-align: center;
}

.list-inline {
  display: inline-block;
  padding: 0 20px;
}

.list-inline a {
  color: #1d3557;
}

.list-inline a:hover {
  color: #e63946;
  background-color: transparent;
}

/* Media Queries */
@media (max-width: 960px) {
  .container {
      width: 700px;
  }
}

@media (max-width: 720px) {
  .container {
      width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
      width: 300px;
  }
  .card {
      padding: 20px;
  }
  h1 {
      font-size: 22px;
  }
  h2, h3 {
      font-size: 18px;
  }
  #profile-button {
      padding: 8px;
  }
}
